@font-face {
	font-family: 'DM Sans';
	src: url('/src/assets/fonts/DMSans-Regular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;